<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
{#                <a class="dropdown-toggle count-info" href="{{ path('admin_order') }}">#}
{#                    <i class="fa fa-shopping-cart fa-lg"></i>#}
{#                    <span class="label label-warning">{{ order_count_service.getCasualOrderCount }}</span>#}
{#                </a>#}
            </li>
            <li>
                <a href="{{ path('app_logout') }}">
                    <i class="fa fa-sign-out"></i> Вийти
                </a>
            </li>
        </ul>

    </nav>
</div>
